.contenedorprincipal {
    width: 700px;
    border: 3px transparent;
    display: flex;
    justify-content: space-between;
}
.imputNum{
    padding: 10px 15px;
}
.divtiket {
    width: 30%; 
    height: 150px; 
    background-color: #3498db; 
    margin: 5px;
    padding: 15px;
}
.divbillete {
    width: 30%; 
    height: 150px; 
    background-color: #3498db; 
    margin: 5px;
    padding: 15px;
}
.divtiempo {
    width: 30%; 
    height: 150px; 
    background-color: #3498db; 
    margin: 5px;
    padding: 15px;
}
.divinterfas {
    width: 70%;
    height: 230px; 
    background-color: #3498db; 
    margin: 5px;
    padding: 15px;
}
.divtarjeta-efectivo{
    width: 30%; 
    height: 230px; 
    background-color: #3498db; 
    margin: 5px;
    padding: 15px;
}
.divfinal{
    width: 70%;
    height: 150px; 
    background-color: #3498db; 
    margin-left:5px ;
    padding: 15px;
}
.divboton{
    width: 30%; 
    height: 150px; 
    background-color: #3498db; 
    padding: 15px;
}

input[type="button"] {
    width: 60%;
    background-color:yellow;
    color: black;
    padding: 14px 20px;
    margin: 27%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .divtitulo{
    width: 678px;
    padding: 0px;
    margin: 1px;
    font-size:larger;
    font:color;
    color: #ffffff;    
    border: 10px;
    border-style: double;
    border-color: #ffffff;
    text-align: center;
    background-color: #3498db;
  }