
body {
     font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.divtitulo {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
}

.contenedorprincipal {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.divtiket, .divtiempo, .divbillete {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

.divinput select {
    width: 100%;
    padding: 5px;
}

.divinterfas {
    text-align: center;
    margin: 20px 0;
}

li label {
    color: red;
}

.divfinal {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.divboton input[type="button"] {
    background-color: burlywood;
    color: #fff;
    padding: 10px 20%; /* Aumenta el padding para hacer el botón más grande */
    border: none;
    cursor: pointer;;
    font-size: medium; /* Aumenta el tamaño de fuente */
}
